<!DOCTYPE html>
<html>
  <head>
    <title>Kiscord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.logoOnly = "<%= image_url('logo-only.png') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundLogin = "<%= image_url('login-background.jpg') %>";
    </script>
    <script type='text/javascript'>
      window.endLogin = "<%= image_url('end-login.svg') %>";
    </script>
    <script type='text/javascript'>
      window.diamond = "<%= image_url('diamond.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundChilling1 = "<%= image_url('background-chilling1.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundChilling2 = "<%= image_url('background-chilling2.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundChilling3 = "<%= image_url('background-chilling3.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundChilling4 = "<%= image_url('background-chilling4.svg') %>";
    </script>
    <script type='text/javascript'>
      window.logo = "<%= image_url('kiscord-logo.png') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundLeft = "<%= image_url('background-left.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundRight = "<%= image_url('background-right.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundBuilding = "<%= image_url('background-building.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundShip = "<%= image_url('background-ship.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundShip2 = "<%= image_url('background-ship2.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundShip3 = "<%= image_url('background-ship3.svg') %>";
    </script>
    <script type='text/javascript'>
      window.floatingPig = "<%= image_url('floating-pig.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background1 = "<%= image_url('background-1.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background2 = "<%= image_url('background-2.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background3 = "<%= image_url('background-3.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background4 = "<%= image_url('background-4.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background5 = "<%= image_url('background-5.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background6 = "<%= image_url('background-6.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background7 = "<%= image_url('background-7.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background8 = "<%= image_url('background-8.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background9 = "<%= image_url('background-9.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background10 = "<%= image_url('background-10.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background11 = "<%= image_url('background-11.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background12 = "<%= image_url('background-12.svg') %>";
    </script>
    <script type='text/javascript'>
      window.background13 = "<%= image_url('background-13.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundChill1 = "<%= image_url('background-chilling1.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundChill2 = "<%= image_url('background-chilling2.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundChill3 = "<%= image_url('background-chilling3.svg') %>";
    </script>
    <script type='text/javascript'>
      window.backgroundChill4 = "<%= image_url('background-chilling4.svg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
